<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead Detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
</head>
<body>
    <div class="wrapper container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-text"><a class="btn btn-sm border-primary btn-light text-dark" href="/leads" role="button">Leads</a></span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                </ul>
                <span class="navbar-text"><a class="btn btn-sm border-primary btn-light text-dark" href="/quiz" role="button">Art Advisory Quiz</a></span>
            </div>
        </nav>

        <div id="wrapper">
            <div class="container">
                <h2 class="display-5">{{lead.first_name}} {{lead.last_name}}</h2>
                <br>
                <p>Date Created: {{ lead.created_at }}</p>
            </div>
    
            <div class="container" id="lead:results">

                <table class="table table-bordered table-striped">
                    <h5>Contact Information</h5>
                    <tr>
                        <th scope="row">Email</th>
                        <td><a href="#">{{ lead.email_address }}</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Phone</th>
                        <td><a href="#">{{ lead.phone_number }}</a></td>
                    </tr>
                </table>

                <table class="table table-bordered table-striped">
                    <h5>Lead Scoring</h5>
                    <tr>
                        <th scope="row">Intent Score</th>
                        <td><a href="#">{{ lead.intent_score }}</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Persona Type</th>
                        <td><a href="#">{{ lead.has_persona.persona_type }}</a></td>
                    </tr>
                </table>

                <table class="table table-bordered table-striped">
                    <h5>Quiz Brief</h5>
                    <tr>
                        <th scope="row">Budget:</th>
                        <td><a href="#">${{ lead.budget_min }} - ${{lead.budget_max}}</a></td>
                    </tr>
                </table>

                <h5>Quiz Brief:</h5>
                <!-- {% for item in brief %}
                <ul>
                    <li>{{ item }}</li>
                </ul>
                {% endfor %} -->
                <ul>{{ brief }}</ul>

                <!-- <table class="table table-bordered table-striped">
                    <h5>Quiz Brief</h5>
                    {% for key, values in brief.items %}
                        <tr>
                            <th scope="row">{{ key }}:</th>
                            {% for value in values.items %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table> -->

                <div>
                    <br>
                    <h5>Client Images:</h5>
                        <img src="{{ lead.uploads.image.url }}" alt="image">
                </div>
            </div>
        </div>
</body>
</html>