{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/quiz/css/custom-style.css' %}" rel="stylesheet" type="text/css">    
    <title>Lead Detail</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/quiz">About</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/quiz/start">Quiz</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/leads">Leads <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div>
        <div class="container">
            <br>
            <h2 class="display-5">{{lead.first_name}} {{lead.last_name}}</h2>
            <p>Date Created: {{ lead.created_at }}</p>
            <br>
        </div>

        <div class="container" id="lead:results">
            <table class="table table-bordered table-striped">
                <h5>Contact Information</h5>
                <tr>
                    <th scope="row">Email:</th>
                    <td><a href="mailto:{{ lead.email_address }}">{{ lead.email_address }}</a></td>
                </tr>
                <tr>
                    <th scope="row">Phone:</th>
                    <td><a href="tel:{{ lead.phone_number }}">{{ lead.phone_number }}</a></td>
                </tr>
                <tr>
                    <th scope="row">Intent Score:</th>
                    <td>{{ lead.intent_score }}</td>
                </tr>
                <tr>
                    <th scope="row">Persona Type:</th>
                    {% for persona in lead.has_persona.all %}
                    <td>{{ persona.persona_type }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row">Budget:</th>
                    <td>${{ lead.budget_min }} - ${{lead.budget_max}}</td>
                </tr>
            </table>

            <h5>Quiz Brief:</h5>
            {% for key, value in brief.items %}
            <ul>
                <li>{{ key }}: {{ value }}</li>
            </ul>
            {% endfor %}

            <div>
                <br>
                <h5>Client Images:</h5>
                    <img src="{{ lead.uploads.image.url }}" alt="image">
            </div>
        </div>
    </div>
</body>
</html>