{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/lux/bootstrap.min.css" integrity="sha384-9+PGKSqjRdkeAU7Eu4nkJU8RFaH8ace8HGXnkiKMP9I9Te0GJ4/km3L1Z8tXigpG" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/quiz/css/custom-style.css' %}" rel="stylesheet" type="text/css">
    <title>Art Advisory Quiz</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/leads">Leads <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/quiz">Quiz</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="wrapper container">
        <div class="table-active text-dark"1>
            <p class="text-left">Get Help from Our Expert Curators</p>
        </div>

        <br><br>

        <div id="quiz-container">

            <div class="container col-md-8 border" id="welcome-detail">
                <h4 class="text-center">Welcome</h4>
                <form action="/quiz/intent" method="POST">
                    {% csrf_token %}
                    <div class="container p-2 bg-light">
                        <p class="text-center">Thank you for your interest in our complimentary art advisory services. Please answer a few short questions to help us determine where you are in your art discovery process. One of our curators will follow up shortly to provide you with personalized assistance.<br><br>Let's get started!</p>
                    </div>
                    <div class="text-center">
                        <br>
                        <button type="submit" href="/quiz/intent" class="btn btn-primary quiznav">Get Started</button>
                    </div>
                </form>
            </div>

        </div> <!-- end of quiz container -->

        <div class="row">
            <br><br><br>
        </div>

    </div> <!-- end of wrapper container -->

</body>
<script>

    // Transitions between quiz slides: HTML snippet insertions

    $(document).on('click', '.quiznav', function(e){
        e.preventDefault()
        var data = $("form").serialize()
        console.log(data)
        $.ajax({
            url:$(this).attr('href'),
            method: 'post',
            data: data,
        })
        .done(function(serverResponse){
            console.log(serverResponse)
            $('#quiz-container').html(serverResponse)
        });
        // // Alternate transition option: HTML 1=pager,  Hide/Show slides
            // insert instead of the .done(function(...))
            // $(this).parentsUntil("div[id~='quiz-container']").hide();
            // incomplete:    .show(); 
    })

    // Image Upload: Add the following code if you want the name of the file appear on select:
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    </script>
</html>