label {
    display: block;
    /* background: lightgrey;
    width: 100px;
    height: 100px; */
}

/* .border-select:checked + label {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 151, 199);
} */

.border-img{
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 41, 91);
}