<div class="container border border-dark" id="contact-detail">
    <h4>Contact Details</h4>
    <div class="container bg-info" id="live_score">
        <p>user score</p>
    </div>
    <div class="container p-2 bg-light">
        <p class="text-left">Please leave your budget and contact information below:</p>
    </div>
    <form action="/quiz/contact/process" method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <label for="art_url" class="col-sm-2 col-form-label">Budget (per artwork):</label>
            <div class="col-sm-10 row">
                Min: $<input type="text" class="form-control w-25" id="contact-budget-min" placeholder="2,500">
                Max: $<input type="text" class="form-control w-25" id="contact-budget-max" placeholder="5,000">
            </div>
        </div>
        <div class="form-group row">
            <label for="contact-first-name" class="col-sm-2 col-form-label">First Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control w-50" id="contact-first-name" placeholder="Veronice">
            </div>
        </div>
        <div class="form-group row">
            <label for="contact-last-name" class="col-sm-2 col-form-label">Last Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control w-50" id="contact-last-name" placeholder="Lodge">
            </div>
        </div>
        <div class="form-group row">
            <label for="contact-email" class="col-sm-2 col-form-label">Email Address:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control w-50" id="contact-email" placeholder="ronnie@riverdale.com">
            </div>
        </div>
        <div class="form-group row">
            <label for="contact-phone" class="col-sm-2 col-form-label">Phone Number (optional):</label>
            <div class="col-sm-10">
                <input type="text" class="form-control w-50" id="contact-phone" placeholder="123-456-7890">
            </div>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="contact-newsletter">
            <label class="form-check-label" for="contact-newsletter">I do not want to subscribe to Saatchi Art's newsletter.</label>
        </div>
        <div class="text-center">
            <a class="" href="#">Back</a>
            <button type="submit" href="/quiz/contact/process" class="btn btn-success quiznav">Submit</button>
        </div>
    </form>
</div>