<div class="container border border-dark" id="intent:detail">
    <h4>How Can We Help You?</h4>
    <div class="container bg-info" id="live_score">
        <p>user score</p>
    </div>
    <form action="/quiz/intent/process" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <div class="container p-2 bg-light">
                <label for="intent" class="text-left">Select the option that best applies to you:</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="intent" id="intent:air" value="info-request">
                <label class="form-check-label" for="intent:air">I have a question about an artwork I saw on Saatchi Art</label>
            </div> 
            <div class="form-check">   
                <input class="form-check-input" type="radio" name="intent" id="intent:specspace" value="spec-space">
                <label class="form-check-label" for="intent:specspace">I need help finding art for a specific space</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="intent" id="intent:inspo" value="inspo">
                <label class="form-check-label" for="intent:inspo">I am browsing for inspiration</label>
            </div>
        </fieldset>
        <a class="" href="/quiz">Back</a>
        <button type="submit" href="/quiz/intent/process" class="btn btn-success quiznav">Next</button>
    </form>
</div>