<div class="container border border-dark" id="persona:detail">
    <h4>What Does Art Mean To You?</h4>
    <div class="container bg-info" id="live_score">
        <p>user score</p>
    </div>
    <div class="container p-2 bg-light">
        <p class="text-center">Tell us what you are looking for in an artwork.</p>
    </div>
    <div class="container">
        <p class="text-left">Select any/all that apply:</p>
    </div>
    <form>
        {% csrf_token %}
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="persona:lw-1">
            <label class="form-check-label" for="persona:lw-1">I am color/investment/story/price driven.</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="persona:lw-1">
            <label class="form-check-label" for="persona:lw-1">I am color/investment/story/price driven.</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="persona:lw-1">
            <label class="form-check-label" for="persona:lw-1">I am color/investment/story/price driven.</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="persona:lw-1">
            <label class="form-check-label" for="persona:lw-1">I am color/investment/story/price driven.</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="persona:lw-1">
            <label class="form-check-label" for="persona:lw-1">I am color/investment/story/price driven.</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="persona:lw-1">
            <label class="form-check-label" for="persona:lw-1">I am color/investment/story/price driven.</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="persona:lw-1">
            <label class="form-check-label" for="persona:lw-1">I am color/investment/story/price driven.</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="persona:lw-1">
            <label class="form-check-label" for="persona:lw-1">I am color/investment/story/price driven.</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="persona:lw-1">
            <label class="form-check-label" for="persona:lw-1">I am color/investment/story/price driven.</label>
        </div>
        <div class="text-center">
            <a class="" href="#">Back</a>
            <button type="submit" class="btn btn-success">Next</button>
            <a class="" href="#">(skip to the end)</a>
        </div>
    </form>
</div>