{% load static %}

<div class="container col-md-8 border" id="search-detail-category">
    <h4 class="text-center">Size</h4>
    <div class="container text-right" id="live_score">
        <p>User Score: <span class="badge badge-secondary bg-warning ">{{ request.session.user_score }}</span></p>
    </div>
    <div class="container">
        <p class="text-center">Which size(s) of artwork are you looking for?</p>
    </div>


    <form action="/quiz/size/process" method="POST">
        {% csrf_token %}
        <div class="container">
            <label class="text-left" for="category">Select any/all that apply:</label>
        </div>
        <div class="form-group form-inline bg-light">
            <div class="col-sm-6 text-center">
                <br>
                <input type="checkbox" class="form-check-label stretched-link" name="size" id="small" value="small" hidden>
                <label for="small">
                    <img src="{% static 'quiz/imgs/small1.png' %}" class="img-fluid" alt="An artwork between 0 and 19 inches in length rests on a mantle." width="200">
                </label>
                <p class="text-center">Small (0 - 19 inches)</p>
            </div>

            <div class="col-sm-6 text-center">
                <br>
                <input type="checkbox" class="form-check-label stretched-link" name="size" id="medium" value="medium" hidden>
                <label for="medium">
                    <img src="{% static 'quiz/imgs/medium1.png' %}" class="img-fluid" alt="An artwork between 20 and 39 inches in length hangs on a side wall." width="200">
                </label>
                <p class="text-center">Medium (20 - 39 inches)</p>
            </div>

            <div class="col-sm-6 text-center">
                <br>
                <input type="checkbox" class="form-check-label stretched-link" name="size" id="large" value="large" hidden>
                <label for="large">
                    <img src="{% static 'quiz/imgs/large2.jpg' %}" class="img-fluid" alt="An artwork between 40 and 59 inches in length hangs above a bed headboard." width="200">
                </label>
                <p class="text-center">Large (40 - 59 inches)</p>
            </div>

            <div class="col-sm-6 text-center">
                <br>
                <input type="checkbox" class="form-check-label stretched-link" name="size" id="oversized" value="oversized" hidden>
                <label for="oversized">
                    <img src="{% static 'quiz/imgs/oversized.png' %}" class="img-fluid" alt="An artwork 60 inches or greater in length hangs on a large living room wall." width="200">
                </label>
                <p class="text-center">Oversized (60+ inches)</p>
            </div>
        </div>
        <div class="text-center">
            <a class="quiznav" href="/quiz/style">Back</a>
            <button type="submit" href="/quiz/size/process" class="btn btn-primary quiznav">Next</button>
            <a class="quiznav" href="/quiz/contact">(skip to the end)</a>
        </div>
    </form>
</div>


<!-- </body> -->


<script>
    console.log($);
    $(document).ready(function(){

        // select vs unselect images
        $('img').click(function(){
            $(this).toggleClass('border-img')
        });
    });
</script>   