<div class="container border border-dark" id="specspace:detail">
    <h4>Tell Us About Your Space</h4>
    <div class="container bg-info" id="live_score">
        <p>user score</p>
    </div>
    <div class="container p-2 bg-light">
        <p class="text-center">Please uploade some images of your home and the wall(s) where you intend to hang art. Provide dimensions and any other information our curators should consider when putting together suggestions for you.</p>
    </div>
    <form action="/quiz/spec_space/process" method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <label for="specspace::num-works" class="col-sm-2 col-form-label">How many artworks are you looking for?</label>
            <div class="col-sm-10">
                <input type="text" class="form-control w-25" id="specspace::num-works" placeholder="2-3">
            </div>
        </div> 
        <div class="form-group row">
            <label for="specspace::message" class="col-sm-2 col-form-label">Message:</label>
            <div class="col-sm-10">
                <textarea class="form-control w-50" id="specspace:message" rows="3" placeholder="Please enter your question here."></textarea>
            </div>
        </div>
            <div class="form-group custom-file">
                <label for="img_upload" class="col-form-label custom-file-label w-50">Choose file</label>
                <input type="file" class="custom-file-input" id="specspace:img-upload">
                <label class="custom-file-label w-25" for="specspace:img-upload">Choose file</label>
            </div>
        <div class="text-center">
            <a class="" type="button" href="#">Back</a>
            <button type="submit" href="/quiz/spec_space/process" class="btn btn-success quiznav">Next</button>
        </div>
    </form>
</div>