{% load static %}

<div class="container col-md-8 border" id="search-detail-subject">
    <h4 class="text-center">Subjects</h4>
    <div class="container text-right" id="live_score">
        <p>User Score: <span class="badge badge-secondary bg-warning ">{{ request.session.user_score }}</span></p>
    </div>
    <div class="container">
        <p class="text-center">Which subjects are you most interested in?</p>
    </div>
    <form action="/quiz/subject/process" method="POST">
        {% csrf_token %}
        <div class="container">
            <label class="text-left" for="subject">Select any/all that apply:</label>
        </div>
        <div class="form-group form-inline bg-light">

            <div class="col-sm-4 text-center">
                <br>
                <input type="checkbox" class="form-check-label stretched-link" name="subject" id="landscape" value="landscape" hidden>
                <label for="landscape">
                    <img src="{% static 'quiz/imgs/landscape.jpg' %}" class="img-fluid" alt="A landscape painting of a wide green field with red wildflowers." width="200">
                </label>
                <p class="text-center">Landscape</p>
            </div>

            <div class="col-sm-4 text-center">
                <br>
                <input type="checkbox" class="form-check-label stretched-link" name="subject" id="abstract" value="abstract" hidden>
                <label for="abstract">
                    <img src="{% static 'quiz/imgs/abstract.jpg' %}" class="img-fluid" alt="An abstract line painting inspired by Bauhaus." width="200">
                </label>
                <p class="text-center">Abstract</p>
            </div>

            <div class="col-sm-4 text-center">
                <br>
                <input type="checkbox" class="form-check-label stretched-link" name="subject" id="figurative" value="figurative" hidden>
                <label for="figurative">
                    <img src="{% static 'quiz/imgs/fig1.jpg' %}" class="img-fluid" alt="A painting of a woman at the beach with a towel blowing in the wind." width="200">
                </label>
                <p class="text-center">Figurative</p>
            </div>

            <div class="col-sm-4 text-center">
                <br>
                <input type="checkbox" class="form-check-label stretched-link" name="subject" id="street" value="street" hidden>
                <label for="street">
                    <img src="{% static 'quiz/imgs/street.jpg' %}" class="img-fluid" alt="A street art painting with gestural faces and bold color." width="200">
                </label>
                <p class="text-center">Street</p>
            </div>

            <div class="col-sm-4 text-center">
                <br>
                <input type="checkbox" class="form-check-label stretched-link" name="subject" id="portrait" value="portrait" hidden>
                <label for="portrait">
                    <img src="{% static 'quiz/imgs/portrait3.jpg' %}" class="img-fluid" alt="A close up, photorealistic painting of woman laughing." width="200">
                </label>
                <p class="text-center">Portraiture</p>
            </div>

            <div class="col-sm-4 text-center">
                <br>
                <input type="checkbox" class="form-check-label stretched-link" name="subject" id="pop" value="pop" hidden>
                <label for="pop">
                    <img src="{% static 'quiz/imgs/pop.jpg' %}" class="img-fluid" alt="A bright pink screenprint of a white batman mask superimposed over a portrait of the Queen of England." width="200">
                </label>
                <p class="text-center">Pop</p>
            </div>
        </div>

        <div class="text-center">
            <a class="quiznav" href="/quiz/category">Back</a>
            <button type="submit" href="/quiz/subject/process" class="btn btn-primary quiznav">Next</button>
            <a class="quiznav" href="/quiz/contact">(skip to the end)</a>
        </div>
    </form>
</div>

<!-- </body> -->

<script>
    console.log($);
    $(document).ready(function(){

        // select vs unselect images
        $('img').click(function(){
            $(this).toggleClass('border-img')
        });
    });
</script>   