<div class="container border border-dark" id="welcome">
    <h4>Welcome</h4>
    <form action="/quiz/intent" method="POST">
        {% csrf_token %}
        <div class="container p-2 bg-light">
            <p class="text-center">Thank you for your interest in our complimentary art advisory services! Please answer a few short questions to help us determine where you are in your art discovery process. One of our curators will follow up shortly to provide you with personalized assistance.<br>Let's get started!</p>
        </div>
        <div class="text-center">
            <button type="submit" href="/quiz/intent" class="btn btn-success quiznav">Get Started</button>
        </div>
    </form>
</div>